  /* チェックボックス */
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    transition: 0.3s;
  }

  input[type="checkbox"]:checked {
    transform: scale(150%);
    background-color: orange;
  }

  /* タスク */
  #todo-item, #subtask-list {
    transition: .3s;
  }
  
  #todo-item:hover, #subtask-list:hover {
    transform: scale(102%);
  }

  .custom-border {
    border: solid 1px;
    border-color: var(--bs-border-color);
  }
  
  .custom-border:hover {
    filter: drop-shadow(0px 0px 5px var(--bs-info));
  }
